* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
main {
  margin: 8% auto;
  width: 80%;
  padding-bottom: 2rem;
}

h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 4rem;

  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(52, 52, 72);
}
div {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#addBtn {
  width: 5rem;
  padding: 4px;
  margin-left: 2px;
  border: 2px solid black;
  border-radius: 3px;
}
input {
  padding: 4px;
  border: 2px solid black;
  border-radius: 3px;
  width: 20rem;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 2rem;
}
ul li {
  background-color: rgb(250, 245, 250);
  border-radius: 3px;
  padding: 6px 8px 6px 8px;
  font-weight: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  max-width: 50%;
  margin: 1rem auto;
}
li .fa-check {
  color: red;
}

li.completed .fa-check {
  color: rgb(8, 195, 157);
}
li.completed p {
  color: rgb(41, 41, 41);
  text-decoration: line-through;
  font-weight: 0.8rem;
}
li .fas fa-trash {
  color: red;
}
